# Python
*.py[cod]
*.pyz
__pycache__/
*.pyo
*.pyd
*.pyw
backend/app/__pycache__/

# Virtual environments
.venv/
*/.venv/
.env/
*/.env/
.venv

# macOS
.DS_Store

# Node.js
node_modules/
dist/
build/

# Environment files
.env

# Backend Python cache (explicit, if needed)
backend/app/__pycache__/

backend/app/assets/